@model BilgiDeposu.Models.Entitiy.TBLOGRENCI
@{
    ViewBag.Title = "OgrenciGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("OgrenciGuncelle", "Ogrenci", FormMethod.Post))
{
    <div style=" margin-bottom:15px"></div>
    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        @*@Html.LabelFor(k=>k.AD)*@
        <label>Ogrenci Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        <br />
        <label>Ogrenci Soyadı</label>
        @Html.TextBoxFor(k => k.SOYAD, new { @class = "form-control" })
        <br />
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(k => k.KULLANICIADI, new { @class = "form-control" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(k => k.SIFRE, new { @class = "form-control" })
        <br />
        <label>Mail Adresi</label>
        @Html.TextBoxFor(k => k.MAIL, new { @class = "form-control" })
        <br />
        <label>Öğrenci Bölümü</label>
        @Html.DropDownListFor(k => k.TBLBOLUM.ID, (List<SelectListItem>)ViewBag.dgr4, new { @class = "form-control" })
        <br />
        <label>Telefon</label>
        @Html.TextBoxFor(k => k.TELEFON, new { @class = "form-control" })
        <br />
        <label>Fotoğraf Linki</label>
        @Html.TextBoxFor(k => k.FOTOGRAF, new { @class = "form-control" })
        <br />
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

